<html>
<div class="general">
  <div class="general1">
    <form class="ui container form" appearance="fill"  [formGroup]="form" (ngSubmit)="update_data_student()">
      <h1>Please enter the news information:</h1>
      <table class="table">
        <tr>
          <th class="th0">
            Firstname student*
          </th>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Enter the firstname</mat-label>
              <input matInput formControlName="student_firstname" [(ngModel)]="this.data_api.student_firstname">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th class="th0">
            Lastname student*
          </th>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Enter the lastname</mat-label>
              <input matInput formControlName="student_lastname" [(ngModel)]="this.data_api.student_lastname">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th class="th0">
            Birthday*
          </th>
          <td>
            <mat-form-field appearance="fill">
              <mat-label></mat-label>
              <input type="date" matInput formControlName="date" [(ngModel)]="this.data_api.date">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th class="th0">
            Street*
          </th>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Enter the street</mat-label>
              <input matInput formControlName="street" [(ngModel)]="this.data_api.street">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <th class="th0">
            Postcode*
          </th>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Enter the postcode</mat-label>
              <input matInput formControlName="postcode" [(ngModel)]="this.data_api.postcode">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <th class="th0">
            City*
          </th>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Enter the city</mat-label>
              <input matInput formControlName="city" [(ngModel)]="this.data_api.city">
            </mat-form-field>
          </td>
        </tr>


        <tr>
          <td>
            <button mat-raised-button color="primary" routerLink="/list-student" (click)="ClickClose()">Cancel</button>
          </td>
          <td>

          </td>
          <td>
            <button mat-raised-button color="warn">Update data</button>
          </td>
        </tr>
      </table>

    </form>
  </div>
</div>
</html>
