.bt3 {
  margin-left: 35%;
}

.mat-elevation-z8 {
  background: darkgoldenrod;
  color: white;
  height: 50px;
}


.new-book {
  margin-left: 420px;
  color: #eeeeee;
}

.list-book {
  margin-left: 100px;
  color: #eeeeee;
}
