<nav class="navbar navbar-light bg-primary">
  <div class="child">
    <h1>Registration of a student</h1>
    <div class="child">
      <button class="bt1" mat-raised-button color="primary" [routerLink]="'/list-student'">List of student</button>
    </div>
  </div>
</nav>

<div class="general">
<div class="general1">
  <form class="ui container form" appearance="fill" [formGroup]="form" (ngSubmit)=" toggleElement(); onSubmit()">
    <table class="table">
      <tr>
        <th class="th0">
         <p style="font-size: 20px; color: white;"> Firstname student* </p>
        </th>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>The firstname</mat-label>
            <input matInput formControlName="student_firstname">
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <th class="th0">
          <p style="font-size: 20px; color: white;">Lastname student*</p>
        </th>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>The lastname</mat-label>
            <input matInput formControlName="student_lastname">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th class="th0">
          <p style="font-size: 20px; color: white;">Birthday*</p>
        </th>
        <td>
          <mat-form-field appearance="fill">
            <mat-label></mat-label>
            <input type="date" matInput formControlName="date">
          </mat-form-field>
        </td>
      </tr>
            <tr>
              <th class="th0">
                <p style="font-size: 20px; color: white;">Street*</p>
              </th>
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>the name of the street</mat-label>
                  <input matInput formControlName="street">
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <th class="th0">
                <p style="font-size: 20px; color: white;">Postcode*</p>
              </th>
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>The post code</mat-label>
                  <input matInput formControlName="postcode">
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <th class="th0">
                <p style="font-size: 20px; color: white;">City*</p>
              </th>
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Name of the city</mat-label>
                  <input matInput formControlName="city">
                </mat-form-field>
              </td>
            </tr>
      <tr>
        <td>

        </td>
        <td>
          <mat-error *ngIf="!form.valid">
          </mat-error>
          <button mat-raised-button color="primary" [disabled]="!form.valid">Add student</button>
        </td>
      </tr>
          </table>

          </form>
      </div>
      <br/>


</div>

