<html>
<head>
  <title>

  </title>
</head>
<body>
<nav class="navbar navbar-light bg-primary">
  <div>
    <h1>List of registered students</h1>
    <div class="child">
    <button class="bt1" mat-raised-button color="primary" [routerLink]="'/student-registration'">Go to registration</button>
      <button class="bt3" mat-raised-button color="warn" [routerLink]="'/login'">Logout</button>
    </div>
    <div class="child1">
      <form class="ui container form" appearance="fill" [formGroup]="form_search">
      <input type="search" formControlName="search" style="height: 30px;" [(ngModel)]="search">
      <button class="bt1" mat-raised-button color="primary" [disabled]="no_show"> Search</button>
      </form>
    </div>
    </div>
</nav>



<br>
<br>
<div>
<table class="table1 table-hover table-sm table-bordered">
  <tr>
    <th class="th2">
      Matricule
    </th>
    <th class="th1">
      Firstname
    </th>
    <th class="th1">
      Lastname
    </th>
    <th class="th1">
      Birthday
    </th>
    <th class="th1">
      Street
    </th>
    <th class="th1">
      Post code
    </th>
    <th class="th1">
      city of residence
    </th>
    <th class="td0">&nbsp;&nbsp; Administration
    </th>
  </tr>
  <tr *ngFor="let item of data | filter: search">
    <td class="vertical-align">{{item.matricule}}</td>
    <td class="vertical-align">{{item.student_firstname}}</td>
    <td class="vertical-align ">{{item.student_lastname}}</td>
    <td class="vertical-align">{{item.date}}</td>
    <td class="vertical-align">{{item.street}}</td>
    <td class="vertical-align ">{{item.postcode}}</td>
    <td class="vertical-align ">{{item.city}}</td>
    <td class="vertical-align">
      <button mat-icon-button matTooltip="bearbeiten" color="primary" aria-label="bearbeiten"
              (click)="get_action(item.matricule, item.id)">
        <mat-icon>mode_edit_outline</mat-icon>
      </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-icon-button matTooltip="löschen" color="warn" aria-label="löschen"
              (click)="delete_student(item.matricule, item.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
</table>
</div>

</body>
</html>
