<html>
<app-navbar></app-navbar>
<body>
<div>

  <div class="child1">
    <br><br>
    <form class="ui container form" appearance="fill" [formGroup]="form_search">
      <input class="theinput" type="search" formControlName="search" style="height: 30px;" [(ngModel)]="search">
      <button class="bt1" mat-raised-button color="primary" [disabled]="no_show"> Search</button>
    </form>
  </div>
</div>


<br>
<br>
<div>
  <ng-container *ngIf="data$ | async as data; else loadingOrError">
    <table class="table1 table-hover table-sm table-bordered">
      <tr>
        <th>
          Matricule
        </th>
        <th>
          Firstname
        </th>
        <th>
          Lastname
        </th>
        <th>
          Birthday
        </th>
        <th>
          Street
        </th>
        <th>
          Post code
        </th>
        <th>
          City of residence
        </th>
        <th>
          Date of enrolment
        </th>
        <th>
          Administration
        </th>
      </tr>
      <tr *ngFor="let item of data | filter: search">
        <td class="vertical-align">{{item.matricule}}</td>
        <td class="vertical-align">{{item.student_firstname}}</td>
        <td class="vertical-align ">{{item.student_lastname}}</td>
        <td class="vertical-align">{{item.date}}</td>
        <td class="vertical-align">{{item.street}}</td>
        <td class="vertical-align ">{{item.postcode}}</td>
        <td class="vertical-align ">{{item.city}}</td>
        <td class="vertical-align ">{{item.dateoftheDay}}</td>
        <td class="vertical-align">
          <button mat-icon-button matTooltip="bearbeiten" color="primary" aria-label="bearbeiten"
                  (click)="update_student(item.matricule, item.id, item.dateoftheDay)">
            <mat-icon>mode_edit_outline</mat-icon>
          </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button mat-icon-button matTooltip="löschen" color="warn" aria-label="löschen"
                  (click)="delete_student(item.matricule, item.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </ng-container>
  <ng-template #loadingOrError>
    <ng-container *ngIf="errorObject; else loading">
      <div class="col-12 text-center">
        <div class="alert alert-danger">
          <p class="errormessage"> {{ errorObject }}</p>
        </div>
      </div>
    </ng-container>

    <ng-template #loading>
      <div class="col-12 text-center">
        <p class="loading">Loading ...</p>
      </div>
    </ng-template>
  </ng-template>
</div>

</body>
</html>
