<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="child">
  <button class="bt1" mat-raised-button color="primary" [routerLink]="'/list-student'">List of student</button>
  <button class="bt3" mat-raised-button color="warn" [routerLink]="'/login'">Logout</button>
</div>

<div class="div-container">
  <form appearance="fill" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Registration of a student</h1>
    <div class="inputs_container">
      <table>
        <tr>
          <td class="dt0">
            Firstname
          </td>
          <td>
            <input type="text" formControlName="student_firstname" class="form-control"
                   placeholder="Enter the firstname">
          </td>
        </tr>
        <tr>
          <td class="dt0">
            Lastname
          </td>
          <td>
            <input type="text" formControlName="student_lastname" class="form-control" placeholder="Enter the lastname">
          </td>
        </tr>
        <tr>
          <td class="dt0">
            Birthday
          </td>
          <td>
            <input type="date" formControlName="date" class="form-control" placeholder="Enter the birthday">
          </td>
        </tr>
        <tr>
          <td class="dt0">
            Street
          </td>
          <td>
            <input type="text" formControlName="street" class="form-control" placeholder="The name of the street">
          </td>
        </tr>
        <tr>
          <td class="dt0">
            Postcode
          </td>
          <td>
            <input type="number" formControlName="postcode" class="form-control" placeholder="Enter the postcode">
          </td>
        </tr>
        <tr>
          <td class="dt0">
            City
          </td>
          <td>
            <input type="text" formControlName="city" class="form-control" placeholder="Enter the post City">
          </td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
          <td>

          </td>
          <td>
            <mat-error *ngIf="!form.valid">
            </mat-error>
          </td>
        </tr>
      </table>
      <button mat-raised-button color="primary" [disabled]="!form.valid">Add student</button>
    </div>
  </form>
</div>
</body>
</html>
